# Telegram Bot Configuration
# To get the chat id use: https://t.me/username_to_id_bot
TELEGRAM_BOT_TOKEN=your_bot_token_here
TELEGRAM_CHAT_ID=your_chat_id_here

# Telegram Topics Configuration for forum/supergroup topics
# To get the topic IDs: copy message in the topic like https://t.me/c/123123123/[2]/21 - 2 is the topic id.
TOPIC_USER=
TOPIC_NODE=
TOPIC_CRM=
TOPIC_SERVICE=

# Webhook Configuration
WEBHOOK_SECRET_HEADER=your_webhook_secret_here
WEBHOOK_HOST=0.0.0.0
WEBHOOK_PORT=8089
WEBHOOK_PATH=/

# Internationalization
LANGUAGE=ru
LOCALES_DIR=locales

# Logging
LOG_LEVEL=INFO

# User Events
NOTIFY_USER_CREATED=true
NOTIFY_USER_MODIFIED=true
NOTIFY_USER_DELETED=true
NOTIFY_USER_REVOKED=true
NOTIFY_USER_DISABLED=true
NOTIFY_USER_ENABLED=true
NOTIFY_USER_LIMITED=true
NOTIFY_USER_EXPIRED=true
NOTIFY_USER_TRAFFIC_RESET=true
NOTIFY_USER_EXPIRES_IN_72_HOURS=true
NOTIFY_USER_EXPIRES_IN_48_HOURS=true
NOTIFY_USER_EXPIRES_IN_24_HOURS=true
NOTIFY_USER_EXPIRED_24_HOURS_AGO=true
NOTIFY_USER_FIRST_CONNECTED=true
NOTIFY_USER_BANDWIDTH_USAGE_THRESHOLD_REACHED=true

# Node Events
NOTIFY_NODE_CREATED=true
NOTIFY_NODE_MODIFIED=true
NOTIFY_NODE_DISABLED=true
NOTIFY_NODE_ENABLED=true
NOTIFY_NODE_DELETED=true
NOTIFY_NODE_CONNECTION_LOST=true
NOTIFY_NODE_CONNECTION_RESTORED=true
NOTIFY_NODE_TRAFFIC_NOTIFY=true

# Billing Events (CRM Infra Billing)
NOTIFY_CRM_INFRA_BILLING_NODE_PAYMENT_IN_7_DAYS=true
NOTIFY_CRM_INFRA_BILLING_NODE_PAYMENT_IN_48HRS=true
NOTIFY_CRM_INFRA_BILLING_NODE_PAYMENT_IN_24HRS=true
NOTIFY_CRM_INFRA_BILLING_NODE_PAYMENT_DUE_TODAY=true
NOTIFY_CRM_INFRA_BILLING_NODE_PAYMENT_OVERDUE_24HRS=true
NOTIFY_CRM_INFRA_BILLING_NODE_PAYMENT_OVERDUE_48HRS=true
NOTIFY_CRM_INFRA_BILLING_NODE_PAYMENT_OVERDUE_7_DAYS=true

# Service Events
NOTIFY_SERVICE_PANEL_STARTED=true
NOTIFY_SERVICE_LOGIN_ATTEMPT_FAILED=true
NOTIFY_SERVICE_LOGIN_ATTEMPT_SUCCESS=true